pandas
pandas-gbq
ipykernel
setuptools==70.0.0
google-cloud-bigquery
db-dtypes
fastapi
uvicorn
streamlit
geopy
countryinfo
folium
streamlit-folium
transformers
scikit-learn
joblib
numpy
tensorflow[and-cuda]==2.16.2
tensorflow-hub
sentence-transformers
torch
faiss-cpu
prefect
