pandas
pandas-gbq
ipykernel
setuptools==70.0.0
google-cloud-bigquery
google-cloud-aiplatform
google-cloud-storage
db-dtypes
fastapi
uvicorn
streamlit
geopy
countryinfo
folium
streamlit-folium
transformers
sentence-transformers
scikit-learn
joblib
numpy
tensorflow[and-cuda]==2.16.2
tensorflow-hub
--extra-index-url https://download.pytorch.org/whl/cpu
torch
--extra-index-url https://download.pytorch.org/whl/cpu
torchvision
faiss-cpu
prefect
