pandas
pandas-gbq
ipykernel
setuptools==70.0.0
google-cloud-bigquery
google-cloud-aiplatform
google-cloud-storage
db-dtypes
fastapi
uvicorn
streamlit
geopy
countryinfo
folium
streamlit-folium
transformers
sentence-transformers
torchvision
scikit-learn
joblib
numpy
tensorflow[and-cuda]==2.16.2
tensorflow-hub
torch
faiss-cpu
prefect
